body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 20px;
  background-color: #f6f6f6;
  color: #333;
}

header {
  background-color: #004466;
  color: white;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #004466;
}

footer {
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
  color: #666;
}
